{% schema %}
  {
    "name": "t:sections.social-media.name",
    "tag": "section",
    "class": "section-social-media",
    "settings": [
      {
        "type": "url",
        "id": "instagram_link",
        "label": "t:sections.social-media.settings.instagram_link"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.social-media.settings.button_label",
        "default": "t:sections.social-media.settings.default"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 80
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 80
      }
    ],
    "presets": [
      {
        "name": "t:sections.social-media.presets.name"
      }
    ]
  }
{% endschema %}

{{ 'section-bamboozld-social-media.css' | asset_url | stylesheet_tag }}

<div class="social-media-section" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px; background-color: #E6E6E6;">
  <div class="social-media-container">
    <div class="section-header-social">
      {% if section.settings.instagram_link != blank %}
        <a
          href="{{ section.settings.instagram_link }}"
          target="_blank"
          rel="noopener"
          class="social-link">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>