{% schema %}
  {
    "name": "t:sections.bamboozld-hero.name",
    "tag": "section",
    "class": "hero-banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.bamboozld.image"
      },
      // {
      //   "type": "select",
      //   "id": "image_position",
      //   "label": "t:sections.bamboozld-hero.settings.image_position.label",
      //   "options": [
      //     {
      //       "label": "t:sections.bamboozld-hero.settings.image_position.options.top",
      //       "value": "top"
      //     }, {
      //       "label": "t:sections.bamboozld-hero.settings.image_position.options.center",
      //       "value": "center"
      //     }, {
      //       "label": "t:sections.bamboozld-hero.settings.image_position.options.bottom",
      //       "value": "bottom"
      //     }
      //   ]
      // },
      {
        "type": "select",
        "id": "hero_layout",
        "label": "t:sections.bamboozld-hero.settings.hero_layout.label",
        "default": "full_width",
        "options": [
          {
            "label": "t:sections.bamboozld-hero.settings.hero_layout.options.full_width",
            "value": "full_width"
          }, {
            "label": "t:sections.bamboozld-hero.settings.hero_layout.options.fixed_width",
            "value": "fixed_width"
          }
        ]
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.bamboozld.button_link"
      }, {
        "type": "select",
        "id": "button_position",
        "label": "t:sections.bamboozld.button_position.label",
        "default": "center-center",
        "options": [
          {
            "label": "t:sections.bamboozld.button_position.options.top-left",
            "value": "top-left"
          },
          {
            "label": "t:sections.bamboozld.button_position.options.top-center",
            "value": "top-center"
          },
          {
            "label": "t:sections.bamboozld.button_position.options.top-right",
            "value": "top-right"
          },
          {
            "label": "t:sections.bamboozld.button_position.options.center-left",
            "value": "center-left"
          }, {
            "label": "t:sections.bamboozld.button_position.options.center-center",
            "value": "center-center"
          }, {
            "label": "t:sections.bamboozld.button_position.options.center-right",
            "value": "center-right"
          }, {
            "label": "t:sections.bamboozld.button_position.options.bottom-left",
            "value": "bottom-left"
          }, {
            "label": "t:sections.bamboozld.button_position.options.bottom-center",
            "value": "bottom-center"
          }, {
            "label": "t:sections.bamboozld.button_position.options.bottom-right",
            "value": "bottom-right"
          }
        ]
      }, {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.bamboozld.button_label.label",
        "default": "t:sections.bamboozld.button_label.default"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "hero banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{{ 'section-bamboozld-hero.css' | asset_url | stylesheet_tag }}


<div class="hero-banner" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="hero-inner {{ section.settings.hero_layout }}">
    <div class="hero-image">
      {% if section.settings.image %}
        <img
          src="{{ section.settings.image |  image_url: width: 1600 }}"
          alt="Hero Image"
          loading="lazy" />
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <div class="hero-content {{ section.settings.button_position }} ">
      {% if section.settings.button_link %}
        <div class="button-container">
          <a href="{{ section.settings.button_link }}" class="hero-button">
            {{ section.settings.button_label }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
</style>
